<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyf.backend.coupon.template.mapper.CouponTemplateDOMapper">
  <resultMap id="BaseResultMap" type="com.hyf.backend.coupon.template.dataobject.CouponTemplateDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="is_available" jdbcType="TINYINT" property="isAvailable" />
    <result column="is_expired" jdbcType="TINYINT" property="isExpired" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="discount_category" jdbcType="TINYINT" property="discountCategory" typeHandler="com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler" />
    <result column="coupon_count" jdbcType="INTEGER" property="couponCount" />
    <result column="template_key" jdbcType="VARCHAR" property="templateKey" />
    <result column="dispatch_users" jdbcType="VARCHAR" property="dispatchUsers" />
    <result column="expiration_code" jdbcType="TINYINT" property="expirationCode" typeHandler="com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler" />
    <result column="expiration_gap" jdbcType="INTEGER" property="expirationGap" />
    <result column="expiration_deadline" jdbcType="TIMESTAMP" property="expirationDeadline" />
    <result column="manjian_quota" jdbcType="INTEGER" property="manjianQuota" />
    <result column="lijian_quota" jdbcType="INTEGER" property="lijianQuota" />
    <result column="zhekou_quota" jdbcType="INTEGER" property="zhekouQuota" />
    <result column="discount_base" jdbcType="INTEGER" property="discountBase" />
    <result column="each_get_limitation" jdbcType="INTEGER" property="eachGetLimitation" />
    <result column="goods_type_limitation" jdbcType="VARCHAR" property="goodsTypeLimitation" typeHandler="com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler" />
    <result column="weight" jdbcType="VARCHAR" property="weight" typeHandler="com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.discountCategoryCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler} and #{criterion.secondValue,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.expirationCodeCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler} and #{criterion.secondValue,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.goodsTypeLimitationCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler} and #{criterion.secondValue,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.weightCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler} and #{criterion.secondValue,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.discountCategoryCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler} and #{criterion.secondValue,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.expirationCodeCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler} and #{criterion.secondValue,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.goodsTypeLimitationCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler} and #{criterion.secondValue,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.weightCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler} and #{criterion.secondValue,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, is_available, is_expired, title, logo, discount_category, coupon_count, template_key, 
    dispatch_users, expiration_code, expiration_gap, expiration_deadline, manjian_quota, 
    lijian_quota, zhekou_quota, discount_base, each_get_limitation, goods_type_limitation, 
    weight, create_user, update_user, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.hyf.backend.coupon.template.dataobject.CouponTemplateDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sales_coupon_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sales_coupon_template
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sales_coupon_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyf.backend.coupon.template.dataobject.CouponTemplateDOExample">
    delete from sales_coupon_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyf.backend.coupon.template.dataobject.CouponTemplateDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sales_coupon_template (is_available, is_expired, title, 
      logo, discount_category, 
      coupon_count, template_key, dispatch_users, 
      expiration_code, 
      expiration_gap, expiration_deadline, manjian_quota, 
      lijian_quota, zhekou_quota, discount_base, 
      each_get_limitation, goods_type_limitation, 
      weight, 
      create_user, update_user, create_time, 
      update_time)
    values (#{isAvailable,jdbcType=TINYINT}, #{isExpired,jdbcType=TINYINT}, #{title,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{discountCategory,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler}, 
      #{couponCount,jdbcType=INTEGER}, #{templateKey,jdbcType=VARCHAR}, #{dispatchUsers,jdbcType=VARCHAR}, 
      #{expirationCode,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler}, 
      #{expirationGap,jdbcType=INTEGER}, #{expirationDeadline,jdbcType=TIMESTAMP}, #{manjianQuota,jdbcType=INTEGER}, 
      #{lijianQuota,jdbcType=INTEGER}, #{zhekouQuota,jdbcType=INTEGER}, #{discountBase,jdbcType=INTEGER}, 
      #{eachGetLimitation,jdbcType=INTEGER}, #{goodsTypeLimitation,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}, 
      #{weight,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler}, 
      #{createUser,jdbcType=INTEGER}, #{updateUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hyf.backend.coupon.template.dataobject.CouponTemplateDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sales_coupon_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="isAvailable != null">
        is_available,
      </if>
      <if test="isExpired != null">
        is_expired,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="discountCategory != null">
        discount_category,
      </if>
      <if test="couponCount != null">
        coupon_count,
      </if>
      <if test="templateKey != null">
        template_key,
      </if>
      <if test="dispatchUsers != null">
        dispatch_users,
      </if>
      <if test="expirationCode != null">
        expiration_code,
      </if>
      <if test="expirationGap != null">
        expiration_gap,
      </if>
      <if test="expirationDeadline != null">
        expiration_deadline,
      </if>
      <if test="manjianQuota != null">
        manjian_quota,
      </if>
      <if test="lijianQuota != null">
        lijian_quota,
      </if>
      <if test="zhekouQuota != null">
        zhekou_quota,
      </if>
      <if test="discountBase != null">
        discount_base,
      </if>
      <if test="eachGetLimitation != null">
        each_get_limitation,
      </if>
      <if test="goodsTypeLimitation != null">
        goods_type_limitation,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="isAvailable != null">
        #{isAvailable,jdbcType=TINYINT},
      </if>
      <if test="isExpired != null">
        #{isExpired,jdbcType=TINYINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="discountCategory != null">
        #{discountCategory,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler},
      </if>
      <if test="couponCount != null">
        #{couponCount,jdbcType=INTEGER},
      </if>
      <if test="templateKey != null">
        #{templateKey,jdbcType=VARCHAR},
      </if>
      <if test="dispatchUsers != null">
        #{dispatchUsers,jdbcType=VARCHAR},
      </if>
      <if test="expirationCode != null">
        #{expirationCode,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler},
      </if>
      <if test="expirationGap != null">
        #{expirationGap,jdbcType=INTEGER},
      </if>
      <if test="expirationDeadline != null">
        #{expirationDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="manjianQuota != null">
        #{manjianQuota,jdbcType=INTEGER},
      </if>
      <if test="lijianQuota != null">
        #{lijianQuota,jdbcType=INTEGER},
      </if>
      <if test="zhekouQuota != null">
        #{zhekouQuota,jdbcType=INTEGER},
      </if>
      <if test="discountBase != null">
        #{discountBase,jdbcType=INTEGER},
      </if>
      <if test="eachGetLimitation != null">
        #{eachGetLimitation,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeLimitation != null">
        #{goodsTypeLimitation,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyf.backend.coupon.template.dataobject.CouponTemplateDOExample" resultType="java.lang.Long">
    select count(*) from sales_coupon_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sales_coupon_template
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.isAvailable != null">
        is_available = #{record.isAvailable,jdbcType=TINYINT},
      </if>
      <if test="record.isExpired != null">
        is_expired = #{record.isExpired,jdbcType=TINYINT},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.logo != null">
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.discountCategory != null">
        discount_category = #{record.discountCategory,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler},
      </if>
      <if test="record.couponCount != null">
        coupon_count = #{record.couponCount,jdbcType=INTEGER},
      </if>
      <if test="record.templateKey != null">
        template_key = #{record.templateKey,jdbcType=VARCHAR},
      </if>
      <if test="record.dispatchUsers != null">
        dispatch_users = #{record.dispatchUsers,jdbcType=VARCHAR},
      </if>
      <if test="record.expirationCode != null">
        expiration_code = #{record.expirationCode,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler},
      </if>
      <if test="record.expirationGap != null">
        expiration_gap = #{record.expirationGap,jdbcType=INTEGER},
      </if>
      <if test="record.expirationDeadline != null">
        expiration_deadline = #{record.expirationDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="record.manjianQuota != null">
        manjian_quota = #{record.manjianQuota,jdbcType=INTEGER},
      </if>
      <if test="record.lijianQuota != null">
        lijian_quota = #{record.lijianQuota,jdbcType=INTEGER},
      </if>
      <if test="record.zhekouQuota != null">
        zhekou_quota = #{record.zhekouQuota,jdbcType=INTEGER},
      </if>
      <if test="record.discountBase != null">
        discount_base = #{record.discountBase,jdbcType=INTEGER},
      </if>
      <if test="record.eachGetLimitation != null">
        each_get_limitation = #{record.eachGetLimitation,jdbcType=INTEGER},
      </if>
      <if test="record.goodsTypeLimitation != null">
        goods_type_limitation = #{record.goodsTypeLimitation,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sales_coupon_template
    set id = #{record.id,jdbcType=BIGINT},
      is_available = #{record.isAvailable,jdbcType=TINYINT},
      is_expired = #{record.isExpired,jdbcType=TINYINT},
      title = #{record.title,jdbcType=VARCHAR},
      logo = #{record.logo,jdbcType=VARCHAR},
      discount_category = #{record.discountCategory,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler},
      coupon_count = #{record.couponCount,jdbcType=INTEGER},
      template_key = #{record.templateKey,jdbcType=VARCHAR},
      dispatch_users = #{record.dispatchUsers,jdbcType=VARCHAR},
      expiration_code = #{record.expirationCode,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler},
      expiration_gap = #{record.expirationGap,jdbcType=INTEGER},
      expiration_deadline = #{record.expirationDeadline,jdbcType=TIMESTAMP},
      manjian_quota = #{record.manjianQuota,jdbcType=INTEGER},
      lijian_quota = #{record.lijianQuota,jdbcType=INTEGER},
      zhekou_quota = #{record.zhekouQuota,jdbcType=INTEGER},
      discount_base = #{record.discountBase,jdbcType=INTEGER},
      each_get_limitation = #{record.eachGetLimitation,jdbcType=INTEGER},
      goods_type_limitation = #{record.goodsTypeLimitation,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler},
      weight = #{record.weight,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyf.backend.coupon.template.dataobject.CouponTemplateDO">
    update sales_coupon_template
    <set>
      <if test="isAvailable != null">
        is_available = #{isAvailable,jdbcType=TINYINT},
      </if>
      <if test="isExpired != null">
        is_expired = #{isExpired,jdbcType=TINYINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="discountCategory != null">
        discount_category = #{discountCategory,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler},
      </if>
      <if test="couponCount != null">
        coupon_count = #{couponCount,jdbcType=INTEGER},
      </if>
      <if test="templateKey != null">
        template_key = #{templateKey,jdbcType=VARCHAR},
      </if>
      <if test="dispatchUsers != null">
        dispatch_users = #{dispatchUsers,jdbcType=VARCHAR},
      </if>
      <if test="expirationCode != null">
        expiration_code = #{expirationCode,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler},
      </if>
      <if test="expirationGap != null">
        expiration_gap = #{expirationGap,jdbcType=INTEGER},
      </if>
      <if test="expirationDeadline != null">
        expiration_deadline = #{expirationDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="manjianQuota != null">
        manjian_quota = #{manjianQuota,jdbcType=INTEGER},
      </if>
      <if test="lijianQuota != null">
        lijian_quota = #{lijianQuota,jdbcType=INTEGER},
      </if>
      <if test="zhekouQuota != null">
        zhekou_quota = #{zhekouQuota,jdbcType=INTEGER},
      </if>
      <if test="discountBase != null">
        discount_base = #{discountBase,jdbcType=INTEGER},
      </if>
      <if test="eachGetLimitation != null">
        each_get_limitation = #{eachGetLimitation,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeLimitation != null">
        goods_type_limitation = #{goodsTypeLimitation,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyf.backend.coupon.template.dataobject.CouponTemplateDO">
    update sales_coupon_template
    set is_available = #{isAvailable,jdbcType=TINYINT},
      is_expired = #{isExpired,jdbcType=TINYINT},
      title = #{title,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      discount_category = #{discountCategory,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponDiscountCategoryEnumHandler},
      coupon_count = #{couponCount,jdbcType=INTEGER},
      template_key = #{templateKey,jdbcType=VARCHAR},
      dispatch_users = #{dispatchUsers,jdbcType=VARCHAR},
      expiration_code = #{expirationCode,jdbcType=TINYINT,typeHandler=com.hyf.backend.coupon.template.typehandler.CouponExpirationEnumHandler},
      expiration_gap = #{expirationGap,jdbcType=INTEGER},
      expiration_deadline = #{expirationDeadline,jdbcType=TIMESTAMP},
      manjian_quota = #{manjianQuota,jdbcType=INTEGER},
      lijian_quota = #{lijianQuota,jdbcType=INTEGER},
      zhekou_quota = #{zhekouQuota,jdbcType=INTEGER},
      discount_base = #{discountBase,jdbcType=INTEGER},
      each_get_limitation = #{eachGetLimitation,jdbcType=INTEGER},
      goods_type_limitation = #{goodsTypeLimitation,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler},
      weight = #{weight,jdbcType=VARCHAR,typeHandler=com.hyf.backend.common.mybatis.typehandler.JsonListIntegerTypeHandler},
      create_user = #{createUser,jdbcType=INTEGER},
      update_user = #{updateUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>